<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot CRUD Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">
    <h1 th:text="${hello}">Testing is it working or not</h1>
    <a class="h2" th:href="@{/users}">Manage Users</a>
    <a class="h2" href="http://localhost:8080/openHome">Home Again</a>
</div>
</body>
</html>